<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title><%= pageTitle || "" %></title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
  <nav>

    
      <% if (user) { %>
       <aside> <span class="welcome-user"><strong>Welcome, <%= user.name %></strong></span>
        <a href="/users/<%=user._id%>">YOUR PROFILE</a>
         <% if (currentPath !== '/pets') { %>
  <a href="/pets">VIEW PETS</a>
<% } %>
        </aside>
        <div>
  
        <a href="/pets/new">ADD YOUR PET</a>
        <a href="/auth/sign-out">SIGN OUT</a>
        </div>
      <% } else { %>
        <aside>
         <a href="/">🏠</a>
         <% if (currentPath !== '/pets') { %>
  <a href="/pets">VIEW PETS</a>
<% } %>

        </aside>
        <div>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
        </div>
      <% } %>
    </div>
  </nav>
  <main>

    <!-- link to user profile page? -->