<%- include('./partials/header.ejs') %>

<h1>Welcome to Pet-sitters</h1>

<a href="/auth/sign-in">I want to pet-sit</a>
<a href="/auth/sign-in">I want a pet-sitter</a>
<a href="/pets/index">View pets</a>


<%- include('./partials/footer.ejs') %>