<%- include('./partials/header.ejs') %>
<div class="home-page">
<h1 class="home-title">Welcome to Pet-Sit Connect</h1>
<p class="home-tagline">A website for pet sitters and pet owners to meet.</p>
<p><a href="/pets/index">
    <button>View pets</button></a>
    or
<a href="/pets/new">
    <button>Give pet-sitting a try</button></p>
   
</div>
<div class="dog-peek">
  <img src="/images/Dog-peeking.png" alt="Dog peeking">
</div>

<%- include('./partials/footer.ejs') %>

<!-- link to b conditional on whether logged in or not. logged in bypasses sign-in
 need to remember users/not log them out automatically-->
 <!-- remove apply to pet sit link if user=owner! make it a button too -->
  <!-- make about not in italics -->