<%- include('./partials/header.ejs') %>

<h1>Welcome to PetSitConnect</h1>

<a href="/pets/index">View pets</a>
   

<div class="dog-peek">
  <img src="/images/Dog-peeking.png" alt="Dog peeking">
</div>
<%- include('./partials/footer.ejs') %>

<!-- link to b conditional on whether logged in or not. logged in bypasses sign-in
 need to remember users/not log them out automatically-->
 <!-- remove apply to pet sit link if user=owner! make it a button too -->
  <!-- make about not in italics -->